Repository mkucharek/dynotui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: pnpm biome check --write --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

feat(store): add zustand state management
  package.json
  pnpm-lock.yaml
  src/store/app-store.test.ts
  src/store/app-store.ts
  src/store/index.ts
  src/store/use-navigation.test.ts
  src/store/use-navigation.ts
  src/store/use-query.test.ts
  src/store/use-query.ts
  src/store/use-scan.test.ts
  src/store/use-scan.ts
  src/store/use-tables.test.ts
  src/store/use-tables.ts
  src/types/navigation.ts
  vitest.config.ts
Due: lint, typecheck

feat(components): add Ink UI components
  backlog/tasks/phase-3-state-management.md
  package.json
  pnpm-lock.yaml
  scripts/test-aws.ts
  src/components/forms/filter-input.tsx
  src/components/forms/index.ts
  src/components/forms/query-form.tsx
  src/components/index.ts
  src/components/item-detail.test.tsx
  src/components/item-detail.tsx
  src/components/layout/footer.test.tsx
  src/components/layout/footer.tsx
  src/components/layout/header.test.tsx
  src/components/layout/header.tsx
  src/components/layout/index.ts
  src/components/layout/panel.test.tsx
  src/components/layout/panel.tsx
  src/components/loading.test.tsx
  src/components/loading.tsx
  src/components/table-list.test.tsx
  src/components/table-list.tsx
  src/components/table/data-table.test.tsx
  src/components/table/data-table.tsx
  src/components/table/index.ts
  src/components/table/pagination.tsx
Due: lint, typecheck

feat(views): add views with routing
  backlog/tasks/phase-4-ui-components.md
  src/commands/index.tsx
  src/views/home.tsx
  src/views/index.ts
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

feat(cli): switch to meow, add CLI args
  backlog/tasks/phase-5-views-integration.md
  package.json
  pnpm-lock.yaml
  src/commands/index.tsx
  src/index.tsx
Due: lint, typecheck

chore(backlog): mark all phases complete
  backlog/tasks/phase-6-polish.md
Due: none

fix(table-view): show PK/SK first, fix input handling
  src/views/table-view.tsx
Due: lint, typecheck

fix(views): consolidate input handling at view level
  src/index.tsx
  src/views/home.tsx
Due: lint, typecheck

fix(query-form): use correct operator values
  src/components/forms/query-form.tsx
Due: lint, typecheck

fix(query-form): auto-detect numeric values in query params
  src/components/forms/query-form.tsx
Due: lint, typecheck

feat(home): add AWS profile/region switching
  src/components/forms/inline-selector.tsx
  src/components/index.ts
  src/index.tsx
  src/views/home.tsx
Due: lint, typecheck

chore(backlog): add profile/region switching docs and tasks
  .gitignore
  backlog/docs/doc-1 - AWS-Profile-Region-Switching-Design.md
  backlog/tasks/task-1 - Create-InlineSelector-component.md
  backlog/tasks/task-2 - Add-mode-state-and-selectors-to-HomeView.md
  backlog/tasks/task-3 - Update-Footer-bindings-for-selector-modes.md
  backlog/tasks/task-4 - Export-resetClient-from-dynamodb-client-module.md
Due: none

feat(query): add FilterExpression support and structured error handling
  src/components/forms/filter-builder.tsx
  src/components/forms/query-form.tsx
  src/schemas/query-params.test.ts
  src/schemas/query-params.ts
  src/services/dynamodb/errors.test.ts
  src/services/dynamodb/errors.ts
  src/services/dynamodb/index.ts
  src/services/dynamodb/query.test.ts
  src/services/dynamodb/query.ts
  src/store/use-query.test.ts
  src/store/use-query.ts
  src/store/use-scan.test.ts
  src/store/use-scan.ts
Due: lint, typecheck

chore(backlog): add query resilience plan and tasks
  backlog/docs/doc-2 - DynamoDB-Query-Resilience-Plan.md
  backlog/tasks/task-10 - Integrate-filter-builder-into-QueryForm.md
  backlog/tasks/task-5 - Add-filter-condition-schema-types.md
  backlog/tasks/task-6 - Create-DynamoDB-error-handler-utility.md
  backlog/tasks/task-7 - Build-FilterExpression-in-query-service.md
  backlog/tasks/task-8 - Create-structured-filter-builder-UI-component.md
  backlog/tasks/task-9 - Update-store-hooks-for-better-error-handling.md
Due: none

fix(item-view): remove redundant item preview
  src/views/item-view.tsx
Due: lint, typecheck

feat(settings): add settings panel with config persistence
  src/index.tsx
  src/services/user-config.ts
  src/store/app-store.ts
  src/store/use-navigation.ts
  src/store/use-query.ts
  src/store/use-scan.ts
  src/types/navigation.ts
  src/views/index.ts
  src/views/settings.tsx
Due: lint, typecheck

chore(backlog): add settings panel design doc and tasks
  backlog/docs/doc-3 - Settings-Panel-Design.md
  backlog/tasks/task-11 - Add-pageSize-to-UserConfig-and-AppStore.md
  backlog/tasks/task-12 - Add-settings-view-type-to-navigation.md
  backlog/tasks/task-13 - Create-SettingsView-component.md
  backlog/tasks/task-14 - Wire-up-settings-view-and-keybinding.md
  backlog/tasks/task-15 - Use-pageSize-from-store-in-scan-query-hooks.md
Due: none

feat(scan): add filter support for scan mode
  backlog/docs/doc-4 - Scan-Filter-Support-Design.md
  backlog/tasks/task-16 - Export-buildFilterExpression-from-query-service.md
  backlog/tasks/task-17 - Create-ScanFilterForm-component.md
  backlog/tasks/task-18 - Update-useScan-hook-to-support-filter-conditions.md
  backlog/tasks/task-19 - Integrate-scan-filter-form-in-table-view.md
  src/components/forms/index.ts
  src/components/forms/scan-filter-form.tsx
  src/components/index.ts
  src/services/dynamodb/index.ts
  src/services/dynamodb/query.ts
  src/store/use-scan.test.ts
  src/store/use-scan.ts
  src/views/table-view.tsx
Due: lint, typecheck

Update claude.md
  CLAUDE.md
Due: none

feat(app): QoL improvements for navigation and settings
  package.json
  pnpm-lock.yaml
  src/components/forms/filter-builder.tsx
  src/components/forms/inline-selector.tsx
  src/components/forms/scan-filter-form.tsx
  src/components/index.ts
  src/index.tsx
  src/services/dynamodb/index.ts
  src/services/dynamodb/query.ts
  src/services/user-config.ts
  src/store/app-store.ts
  src/store/use-query.ts
  src/store/use-scan.ts
  src/store/use-tables.ts
  src/types/navigation.ts
  src/views/home.tsx
  src/views/settings.tsx
  src/views/table-view.tsx
Due: lint, typecheck

fix(filter): use stable keys instead of array index
  src/components/forms/filter-builder.tsx
Due: lint, typecheck

chore: add husky pre-commit and pre-push hooks
  .husky/pre-commit
  .husky/pre-push
  package.json
  pnpm-lock.yaml
Due: lint

fix(home): prevent flicker between loading and empty states
  src/store/app-store.ts
  src/store/use-tables.test.ts
  src/views/home.tsx
Due: lint, typecheck

Update pre-commit hook
  .husky/pre-commit
Due: none

fix(home): wrap error string in Text component
  src/views/home.tsx
Due: lint, typecheck

fix(home): prevent table duplication on back-navigation
  src/views/home.tsx
Due: lint, typecheck

fix(store): set initial isLoading to false
  src/store/app-store.ts
  src/store/use-tables.test.ts
Due: lint, typecheck

fix(store): add initialized flag to prevent fetch loops
  src/store/app-store.ts
  src/views/home.tsx
Due: lint, typecheck

fix(table-view): preserve items and selection on back-nav
  src/store/app-store.ts
  src/store/use-scan.ts
  src/types/navigation.ts
  src/views/table-view.tsx
Due: lint, typecheck

refactor(config): separate runtime and persisted config
  src/components/index.ts
  src/components/layout/panel.tsx
  src/components/profile-list.tsx
  src/index.tsx
  src/services/config-resolver.ts
  src/store/app-store.test.ts
  src/store/app-store.ts
  src/types/config.ts
  src/views/home.tsx
  src/views/settings.tsx
Due: lint, typecheck

refactor: remove excessive comments
  src/index.tsx
  src/services/config-resolver.ts
  src/store/app-store.ts
  src/types/config.ts
  src/views/home.tsx
Due: lint, typecheck

refactor(config): separate runtime and persisted config (#1)
  src/components/index.ts
  src/components/layout/panel.tsx
  src/components/profile-list.tsx
  src/index.tsx
  src/services/config-resolver.ts
  src/store/app-store.test.ts
  src/store/app-store.ts
  src/types/config.ts
  src/views/home.tsx
  src/views/settings.tsx
Due: lint, typecheck

refactor: deslop codebase
  backlog/tasks/task-20 - Deslop-codebase-cleanup.md
  src/app.tsx
  src/components/forms/filter-input.tsx
  src/components/forms/index.ts
  src/components/index.ts
  src/services/dynamodb/index.ts
  src/services/dynamodb/query.test.ts
  src/services/dynamodb/query.ts
  src/services/dynamodb/scan.test.ts
  src/services/dynamodb/scan.ts
  src/store/app-store.ts
  src/store/index.ts
  src/store/use-navigation.test.ts
  src/store/use-navigation.ts
  src/store/use-scan.ts
  src/views/home.tsx
Due: lint, typecheck

refactor: deslop codebase (#2)
  backlog/tasks/task-20 - Deslop-codebase-cleanup.md
  src/app.tsx
  src/components/forms/filter-input.tsx
  src/components/forms/index.ts
  src/components/index.ts
  src/services/dynamodb/index.ts
  src/services/dynamodb/query.test.ts
  src/services/dynamodb/query.ts
  src/services/dynamodb/scan.test.ts
  src/services/dynamodb/scan.ts
  src/store/app-store.ts
  src/store/index.ts
  src/store/use-navigation.test.ts
  src/store/use-navigation.ts
  src/store/use-scan.ts
  src/views/home.tsx
Due: lint, typecheck

feat(layout): add split-panel layout with sidebar
  backlog/docs/doc-5 - Layout-Redesign-Split-Panel-Architecture.md
  backlog/tasks/task-22 - Create-SplitLayout-component.md
  backlog/tasks/task-23 - Create-SidebarSection-component.md
  backlog/tasks/task-24 - Create-Sidebar-component.md
  backlog/tasks/task-25 - Add-focus-management-to-app-store.md
  backlog/tasks/task-26 - Refactor-index.tsx-for-split-layout.md
  backlog/tasks/task-27 - Update-TableView-for-main-panel.md
  backlog/tasks/task-28 - Update-ItemView-for-main-panel.md
  backlog/tasks/task-29 - Deprecate-HomeView.md
  src/components/index.ts
  src/components/layout/panel.test.tsx
  src/components/layout/panel.tsx
  src/components/layout/split-layout.tsx
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/index.tsx
  src/store/app-store.ts
  src/views/index.ts
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

fix(layout): address review feedback
  src/components/layout/split-layout.test.tsx
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar.tsx
  src/index.tsx
  src/store/app-store.test.ts
  src/store/app-store.ts
Due: lint, typecheck

fix(layout): cleanup review issues
  src/components/layout/panel.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/index.tsx
  src/store/app-store.ts
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

feat(layout): add split-panel layout with sidebar (#3)
  backlog/docs/doc-5 - Layout-Redesign-Split-Panel-Architecture.md
  backlog/tasks/task-22 - Create-SplitLayout-component.md
  backlog/tasks/task-23 - Create-SidebarSection-component.md
  backlog/tasks/task-24 - Create-Sidebar-component.md
  backlog/tasks/task-25 - Add-focus-management-to-app-store.md
  backlog/tasks/task-26 - Refactor-index.tsx-for-split-layout.md
  backlog/tasks/task-27 - Update-TableView-for-main-panel.md
  backlog/tasks/task-28 - Update-ItemView-for-main-panel.md
  backlog/tasks/task-29 - Deprecate-HomeView.md
  src/components/index.ts
  src/components/layout/panel.test.tsx
  src/components/layout/panel.tsx
  src/components/layout/split-layout.test.tsx
  src/components/layout/split-layout.tsx
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/index.tsx
  src/store/app-store.test.ts
  src/store/app-store.ts
  src/views/index.ts
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

fix(terminal): use alt screen buffer to preserve scrollback
  src/index.tsx
Due: lint, typecheck

fix(errors): add credential/network error handling for startup
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/services/dynamodb/errors.test.ts
  src/services/dynamodb/errors.ts
  src/store/app-store.ts
  src/store/use-tables.test.ts
  src/views/home.tsx
Due: lint, typecheck

docs(backlog): add DynoTUI feature baseline
  backlog/docs/doc-6 - DynoTUI-Feature-Baseline.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
