Repository mkucharek/dynotui: changes, and which lefthook commands are due for each by the changed paths.
All: lint, typecheck

lint:
  run: pnpm biome check --write --staged --no-errors-on-unmatched {staged_files}
  stage_fixed: true

typecheck:
  run: pnpm tsc --noEmit

Add redesing doc
  backlog/docs/doc-7 - DynoTUI-Visual-Architectural-Redesign-Plan.md
Due: none

feat(ui): visual redesign with lazygit-style layout
  backlog/docs/doc-7 - DynoTUI-Visual-Architectural-Redesign-Plan.md
  backlog/milestones/m-0 - visual-redesign-v1.md
  backlog/tasks/task-38 - Create-theme-configuration-system.md
  backlog/tasks/task-39 - Unify-query-scan-state-in-app-store.md
  backlog/tasks/task-40 - Implement-tab-based-sidebar-structure.md
  backlog/tasks/task-41 - Add-mode-state-machine-for-footer-bindings.md
  backlog/tasks/task-42 - Redesign-Header-component-2-line.md
  backlog/tasks/task-43 - Redesign-Footer-component-2-line-mode-based.md
  backlog/tasks/task-44 - Update-Panel-component-for-themed-borders.md
  backlog/tasks/task-45 - Create-SidebarTabs-component.md
  backlog/tasks/task-46 - Enhance-DataTable-with-type-formatting.md
  backlog/tasks/task-47 - Redesign-SidebarSection-visual-treatment.md
  backlog/tasks/task-48 - Create-ErrorPanel-component-with-guidance.md
  backlog/tasks/task-49 - Enhance-Loading-component-with-metrics.md
  src/components/error-panel.tsx
  src/components/index.ts
  src/components/item-detail.tsx
  src/components/layout/footer.test.tsx
  src/components/layout/footer.tsx
  src/components/layout/header.tsx
  src/components/layout/panel.tsx
  src/components/layout/split-layout.tsx
  src/components/loading.tsx
  src/components/sidebar/index.ts
  src/components/sidebar/sidebar-panel.tsx
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/components/table/data-table.tsx
  src/components/table/pagination.tsx
  src/index.tsx
  src/schemas/query-params.test.ts
  src/services/dynamodb/query.ts
  src/store/app-store.test.ts
  src/store/app-store.ts
  src/store/use-query.ts
  src/theme.ts
  src/views/table-view.tsx
Due: lint, typecheck

feat(ui): Phase 3 UI improvements - MainPanel and FilterBuilder
  backlog/docs/doc-7 - DynoTUI-Visual-Architectural-Redesign-Plan.md
  src/components/forms/filter-builder.tsx
  src/components/forms/query-form.tsx
  src/components/forms/scan-filter-form.tsx
  src/components/index.ts
  src/components/item-detail.test.tsx
  src/components/item-detail.tsx
  src/components/layout/main-panel.tsx
  src/components/table/data-table.tsx
  src/components/table/query-filter-summary.tsx
  src/index.tsx
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

feat(filter): improve filter builder UX and add confirmation dialog
  backlog/tasks/task-50 - FilterBuilder-row-visual-enhancement-filter-cards.md
  backlog/tasks/task-51 - FilterBuilder-operator-dropdown-visual-affordance.md
  backlog/tasks/task-52 - FilterBuilder-contextual-keyboard-hints.md
  backlog/tasks/task-53 - FilterBuilder-attribute-autocomplete.md
  src/components/confirm-dialog.test.tsx
  src/components/confirm-dialog.tsx
  src/components/forms/filter-builder.test.tsx
  src/components/forms/filter-builder.tsx
  src/components/forms/scan-filter-form.tsx
  src/components/index.ts
  src/components/layout/footer.tsx
  src/views/table-view.tsx
Due: lint, typecheck

fix: remove unused React imports in tests
  src/components/confirm-dialog.test.tsx
  src/components/forms/filter-builder.test.tsx
Due: lint, typecheck

chore: add verify script, remove lefthook
  .husky/pre-push
  lefthook.yml
  package.json
  pnpm-lock.yaml
Due: lint

feat(test): add e2e test suite with tmux and DynamoDB Local
  CLAUDE.md
  README.md
  docker-compose.yml
  package.json
  src/services/dynamodb/client.ts
  src/tests/e2e/filter.e2e.test.ts
  src/tests/e2e/helpers/tmux-driver.ts
  src/tests/e2e/home.e2e.test.ts
  src/tests/e2e/seed-local-db.ts
  src/tests/e2e/table.e2e.test.ts
  vitest.config.ts
  vitest.e2e.config.ts
Due: lint, typecheck

chore: update hooks - verify on commit, e2e on push
  .husky/pre-commit
  .husky/pre-push
Due: none

feat(test): add self-contained e2e script with db setup/teardown
  .husky/pre-push
  package.json
  scripts/run-e2e.sh
Due: lint

Improve CLAUDE.md
  CLAUDE.md
Due: none

feat(query): improve query form UX and add filter support
  src/components/forms/filter-builder.test.tsx
  src/components/forms/filter-builder.tsx
  src/components/forms/query-form.tsx
  src/components/forms/scan-filter-form.tsx
  src/components/index.ts
  src/components/table/query-filter-summary.tsx
  src/store/use-query.ts
  src/tests/e2e/helpers/tmux-driver.ts
  src/tests/e2e/query.e2e.test.ts
  src/views/table-view.tsx
Due: lint, typecheck

feat(query): add GSI/LSI secondary index support
  backlog/tasks/task-54 - GSI-LSI-Support-Implementation.md
  src/components/forms/index-selector.test.tsx
  src/components/forms/index-selector.tsx
  src/components/forms/query-form.tsx
  src/components/table/query-filter-summary.tsx
  src/services/dynamodb/scan.ts
  src/services/dynamodb/tables.test.ts
  src/services/dynamodb/tables.ts
  src/store/app-store.ts
  src/store/use-scan.ts
  src/tests/e2e/filter.e2e.test.ts
  src/tests/e2e/index.e2e.test.ts
  src/views/table-view.tsx
Due: lint, typecheck

perf(e2e): parallelize test suite execution
  vitest.e2e.config.ts
Due: lint, typecheck

feat(ui): add responsive terminal resize support
  src/components/forms/index-selector.test.tsx
  src/components/index.ts
  src/components/layout/main-panel.tsx
  src/components/sidebar/sidebar-panel.tsx
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/table/data-table.tsx
  src/components/terminal-too-small.tsx
  src/constants/terminal.ts
  src/contexts/terminal-context.tsx
  src/hooks/use-terminal-size.ts
  src/index.tsx
  src/tests/test-utils.tsx
  src/views/item-view.tsx
  src/views/table-view.tsx
Due: lint, typecheck

fix(sidebar): responsive connection panel height at tight terminals
  src/components/sidebar/sidebar.tsx
Due: lint, typecheck

test: add tests for terminal size hook, context, fallback
  src/components/terminal-too-small.test.tsx
  src/contexts/terminal-context.test.tsx
  src/hooks/use-terminal-size.test.ts
Due: lint, typecheck

fix(item-detail): correct scroll indicator off-by-one error
  src/components/item-detail.tsx
Due: lint, typecheck

test(seed): add complex-items table with nested attributes
  src/tests/e2e/seed-local-db.ts
Due: lint, typecheck

fix(sidebar): improve scrolling, profile switching, and schema reload
  package.json
  src/components/sidebar/sidebar-section.test.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/services/aws-config.ts
  src/store/app-store.ts
  src/views/home.tsx
  src/views/table-view.tsx
Due: lint, typecheck

refactor(react): fix useEffect anti-patterns
  src/components/forms/filter-builder.tsx
  src/components/profile-list.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/views/home.tsx
Due: lint, typecheck

refactor(react): fix useEffect anti-patterns (#4)
  src/components/forms/filter-builder.tsx
  src/components/profile-list.tsx
  src/components/sidebar/sidebar-section.tsx
  src/components/sidebar/sidebar.tsx
  src/views/home.tsx
Due: lint, typecheck

docs: add user guide for dynotui
  docs/user-guide.md
Due: none

chore(backlog): add npm and homebrew distribution tasks
  backlog/tasks/task-55 - Publish-to-npm-registry.md
  backlog/tasks/task-56 - Create-Homebrew-formula.md
Due: none

docs: add user guide for dynotui (#5)
  backlog/tasks/task-55 - Publish-to-npm-registry.md
  backlog/tasks/task-56 - Create-Homebrew-formula.md
  docs/user-guide.md
Due: none

feat(npm): set up npm registry publishing
  CHANGELOG.md
  LICENSE
  README.md
  backlog/tasks/task-55 - Publish-to-npm-registry.md
  package.json
Due: lint

fix(e2e): pass DYNAMODB_ENDPOINT to tmux sessions
  src/tests/e2e/helpers/tmux-driver.ts
Due: lint, typecheck

docs(backlog): add PR link to task-55
  backlog/tasks/task-55 - Publish-to-npm-registry.md
Due: none

Set up npm registry publishing (#6)
  CHANGELOG.md
  LICENSE
  README.md
  backlog/tasks/task-55 - Publish-to-npm-registry.md
  package.json
  src/tests/e2e/helpers/tmux-driver.ts
Due: lint, typecheck

refactor(sidebar): remove unsupported Saved tab
  src/components/sidebar/sidebar.tsx
  src/store/app-store.ts
Due: lint, typecheck

chore: complete npm publish task, ignore tarballs
  .gitignore
  backlog/tasks/task-55 - Publish-to-npm-registry.md
Due: none

docs(backlog): add table UX and CRUD feature tickets
  backlog/docs/doc-8 - Feature-Planning-Table-UX-CRUD-Operations.md
  backlog/tasks/task-57 - Horizontal-scroll-for-DataTable-with-frozen-key-columns.md
  backlog/tasks/task-58 - Reusable-JSONEditor-component-with-DynamoDB-format-support.md
  backlog/tasks/task-59 - Create-new-DynamoDB-item-from-table-view.md
  backlog/tasks/task-60 - Edit-existing-DynamoDB-item-from-item-detail-view.md
  backlog/tasks/task-61 - Delete-DynamoDB-items-single-and-batch.md
  backlog/tasks/task-62 - Saved-queries-with-sidebar-tab.md
  backlog/tasks/task-63 - Auto-load-all-results-with-toggle-keybinding.md
  backlog/tasks/task-64 - Reset-table-state-on-table-view-change.md
Due: none

Path conditions:
  lint: any of: *.{js,ts,jsx,tsx,json}
  typecheck: any of: *.{ts,tsx}
